
/*I didnt like how it looked so I centred everything*/

.h1{
    background-color: orange;
    text-align: center;
    color:white;
}

.h2{
    color: chocolate;
    text-align: center;

}

.para{
    color:maroon;
    font-family: Times New Roman;
    text-align: center;

}

body{
    margin: 2%;
    background-color: black ;
}

